@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(https://source.unsplash.com/1600x900/?programmer,computersetup );
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;

}
.navbar{
    display: flex;
    background-color: rgba(0, 0, 0, 0.884);
    position: fixed;
    justify-content: center;
    z-index: 1;
  
}
.logo img {
    width: 59%;
    height: 63%;
    margin: 18px 23px 18px 23px;
    border: 2px solid;
    color: #070a0b;
    border-radius: 60px;
}

.logo{
    display: flex;
    width: 8%;
    
}
.navigation-content{
    display: flex;
    width: 92%;
    
}
.navigation-content nav  li a {
    
    margin: -1px 12px;
    padding: 34px 31px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 110%;
    text-transform: capitalize;
    cursor: pointer;

}
.navigation-content li {
    display: flex;
    margin: 2%;
    list-style: none;
}
.navigation-content nav  li a:hover {
    
    margin: -1px 12px;
    padding: 34px 31px;
    text-decoration: none;
    color: rgb(13, 255, 5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 110%;
    text-transform: capitalize;
    cursor: pointer;
}
.dropbtn{
    margin: 6% 0% 0% 0%;
    padding: 1%;
    text-transform: capitalize;
    background-color: #0e0e0c00;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    cursor: pointer;
    border: none;
}
.dropdown{
    position: relative;
    display: inline;
}
.dropdown-content{
    display: none;
    position: absolute;
    width: 201px;
    box-shadow: -20px 8px 18px -3px rgb(0 0 0);
    z-index: 1;
    margin: 17% 20%;
}
.dropdown-content .dropa a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    }

    .dropdown:hover .dropdown-content{
        display: block;
    }
   
    .dropdown-content .dropa a:hover {
        color: rgb(0, 255, 55);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-transform: capitalize;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 15px;
        background-color: rgb(0, 0, 0);
        }
        .myimage{

            margin: 0% 1%;
            padding: 0% 0% 0%;
            display: flex;
            max-width: 100%;       
        }
.myimage img{
    max-width: 50%;
    margin: 20px 20px 20px 20px;
    display: inline;
    box-shadow: 17px 5px 39px 11px #050505;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 50%;
}
.myimage-image{
    display: inline;
    max-width: 50%;
}


.large-name{
    display: flex;
    justify-content: center;
   
}
.large-name h1 {
    font-size: 80px;
    font-family: 'Festive', cursive;
    color: rgb(0, 255, 21);
    margin: 13% 0% 0% 0%;
    /* background-color: rgba(0, 0, 0, 0.644); */
    border: none;
    border-radius: 37px;
    padding: 2px;
    justify-content: center;
    display: flex;
}
.myimage h1{
    display: flex;
    max-width: 45%;
    justify-content: center;
    font-size: 99px;
    margin: 10% 4% 10% 4%;
    padding: 0% 0% 0% 0%;
    font-family: 'Festive';
    color: rgb(248, 248, 248);
    text-transform: capitalize;
}

.home img{
    display: inline;
    max-width: 6%;
    justify-content: right;
    margin: 0% 0% 0% 92%;
}
.home h1{
    display: flex;
    max-width: 96%;
    color: rgb(250, 250, 250);
    justify-content: right;
    font-size: 11px;
    font-family: cursive;
    cursor: pointer;
    text-transform: capitalize;
}

.myemail-address{
    display: flex;
    justify-content: right;
    margin: 0% 0% 0% 3%;
    padding: 0% 0% 0% 48%;
    /* background-color: rgba(0, 0, 0, 0.616); */
}


.home{
    display: inline;
}
.home h1:hover{
    display: flex;
    max-width: 99%;
    color: rgb(0, 255, 21);
    justify-content: right;
    font-size: 20px;
    font-family: cursive;
    text-transform: capitalize;
    cursor: pointer;
}
.paragraph {
    margin: 62px 10px 0px 10px;
    padding: 0px 0px 0px 15px;
    background-color: rgba(255, 255, 255, 0.45);
}
.paragraph h1{
    color: rgb(0, 4, 255);
    display: inline;
    font-size: 49px;
    font-weight: bolder;
}
.paragraph p{
    color: rgb(0, 0, 0);
    margin: 0px 0px 0px 0px;
    padding: 0px 25px 0px 25px;
    font-size: 46px;
    text-transform: capitalize;
  
}
.paragraph img {
    display: inline;
    max-width: 10%;
    max-height: 44px;
    margin: 0% 0% 0% -1%;
}
.paragraph2 img {
    display: inline;
    max-width: 10%;
    max-height: 44px;
    margin: 0% 0% 0% -1%;
}
.paragraph2 h1 {
    color: rgb(0, 4, 255);
    display: inline;
    font-size: 49px;
    font-weight: bolder;
}
.paragraph2{
    margin: 20px 10px 0px 10px;
    padding: 0px 0px 0px 15px;
    background-color: rgba(255, 255, 255, 0.452);
}
.paragraph2 p {
    color: rgb(0, 0, 0);
    margin: 0px 0px 25px 0px;
    padding: 0px 33px 0px 23px;
    font-size: 46px;
    text-transform: capitalize;
}
.paragraph3 img {
    display: inline;
    max-width: 10%;
    max-height: 44px;
    margin: 0% 0% 0% -1%;
}
.paragraph3 h1 {
    color: rgb(0, 4, 255);
    display: inline;
    font-size: 49px;
    font-weight: bolder;
}
.paragraph3{
    margin: 20px 10px 0px 10px;
    padding: 0px 0px 0px 15px;
    background-color: rgba(255, 255, 255, 0.452);
}
.paragraph3 p {
    color: rgb(0, 0, 0);
    margin: 0px 0px 25px 0px;
    padding: 0px 33px 0px 23px;
    font-size: 46px;
    text-transform: capitalize;
}



.paragraph4 img {
    display: inline;
    max-width: 10%;
    max-height: 44px;
    margin: 0% 0% 0% -1%;
}
.paragraph4 h1 {
    color: rgb(0, 4, 255);
    display: inline;
    font-size: 49px;
    font-weight: bolder;
}
.paragraph4{
    margin: 20px 10px 0px 10px;
    padding: 0px 0px 0px 15px;
    background-color: rgba(255, 255, 255, 0.452);
}
.paragraph4 p {
    color: rgb(0, 0, 0);
    margin: 0px 0px 25px 0px;
    padding: 0px 33px 0px 23px;
    font-size: 46px;
    text-transform: capitalize;
}


.paragraph5 img {
    display: inline;
    max-width: 10%;
    max-height: 44px;
    margin: 0% 0% 0% -1%;
}
.paragraph5 h1 {
    color: rgb(0, 4, 255);
    display: inline;
    font-size: 49px;
    font-weight: bolder;
}
.paragraph5{
    margin: 20px 10px 0px 10px;
    padding: 0px 0px 0px 15px;
    background-color: rgba(255, 255, 255, 0.452);
}
.paragraph5 p {
    color: rgb(0, 0, 0);
    margin: 0px 0px 25px 0px;
    padding: 0px 33px 0px 23px;
    font-size: 46px;
    text-transform: capitalize;
}
.container{
    background-color: rgb(135 131 131);
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    margin: 0% 3% 0% 3%;
    padding: 10% 2% 10% 2%;
}
